@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
}
html, body{
    width: 100%;
    height: 100% !important;
    background-color: hsl(0deg 6.9% 11.37%) !important;
}
#cursor{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    z-index: 1000000;
    mix-blend-mode: difference;
}
.button{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    /* margin-top: 1rem; */
    padding: .8rem 1.5rem;
    background-color: rgb(224 100 50) !important;
}
#main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#main > #first-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: calc(95vh - 8vh);
    width: 100%;
}
#first-page > #left{
    position: relative;
    display: flex;
    width: 50%;
    height: 100vh;
    /* background-color: brown; */
}
#left > #side{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 10%;
    height: 97.5vh;
    /* padding: 0 1.7rem; */
    gap: 10rem;
    /* background-color: red; */
}
#side > #social{
    position: relative;
    top: 19.7rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: grey;
    font-size: 1.5rem;
    /* height: 25vh; */
    gap: 3em;
    text-align: center;
}

#side > #scroll{
    position: relative;
    top: 20rem;
    left: 1rem;
    height: 100vh;
    writing-mode: vertical-lr;
    text-orientation: revert;
    cursor: pointer;
}
#side > #empty{
    height: 10vh;
}
#left > #road{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
#road > #hello{
    /* position: relative; */
    width: 20%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* justify-content: space-evenly; */
}
#hello > p{
    font-size: 1.7rem;
    margin-top: 3px;
}
#hello > i {
    font-size: 2.2rem;
}
#road > #content{
    margin: 0 2.5rem;
}
#content > h1{
    display: flex;
    flex-direction: row;
    gap: 7px;
    font-size: 3rem;
}
#content > h1 > p{
    font-weight: 300;
}
#first-page > #right{
    position: relative;
    width: 50%;
    height: 100vh;
    /* background-color: blue; */
}
#first-page > #right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#right > #img > img{
    width: 90%;
    user-select: none;
}
.wow{
    position: fixed;
    background-color: none !important;
    /* color: #ffffff; */
    /* top:  !important; */
    top: .8em !important;
    z-index: 10000;
}
.wows{
    position: fixed;
    background-color: none !important;
    /* color: #ffffff; */
    /* top:  !important; */
    top: 4rem !important;
    z-index: 100000 !important;
}

.sticky{
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: rgb(224 100 50);
    color: #fff;
    /* top: 1.5rem; */
    z-index: 100000;
    transition: all 1s;
}
.sticky > #logo{
    position: relative;
    top: 5px;
}
#navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    /* background-color: red;   */
    height: 8vh;
    padding: 1rem 1.4rem;
    z-index: 100000;
}

#navbar > #logo > a{
    text-decoration: none;
    color: #fff;
}

#navbar > #logo > a > h1{
    /* margin-top: 1rem; */
    /* position: fixed; */
    text-align: center;
    /* top: 1rem; */
    font-size: 1.8rem;
    z-index: 10;
}

#second-page{
    height: 100vh;
    padding: 12px 0;
    /* background-color: chocolate; */
}
#second-page > #about-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#about-section > #left-pic{
    padding: 5rem;
    width: 50%;
    height: 80vh;
    /* background-color: blue; */
}
#left-pic > img{
    position: relative;
    /* top: rem; */
    left: 5rem;
    /* height: 500px; */
    width: 60%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(180%);
}
#left-pic > img:hover{
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);

}
#about-section > #right-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: ; */
    padding: 5rem;
    width: 50%;
    height: 80vh;
    /* background-color: red; */
}
#right-content > h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
#right-content > p{
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

#third-page{
    height: 80vh;
    padding: 3rem 0;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: hsl(2deg 7% 13.37%);
}
#third-page > #title{
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;

}
#third-page > #skills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 5rem;
    height: 40vh;
}
#skills > #icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#skills > #icon > p{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0;
}

#fourth-page{
    height: 100vh;
    padding: 4rem 0;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: hsl(2deg 6% 11.37%);
}
#fourth-page > #title{
    font-size: 3rem;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
    color: #fff;
}
#blog-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will space out the blog posts evenly */
    padding: 20px;
    height: 140vh !important;
    align-items: center;
}
#blog-section  img{
    width: 1280px !important;
    height: 500px !important;
    object-fit:cover;
    object-position: center 50px;
    border-radius: 10px;
}
/* #blog-section > #slider> .carousel-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
} */
.carousel-inner > .carousel-item > .carousel-caption{
    
    background-color: #222;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.carousel-inner > .carousel-item > .carousel-caption > p{
    text-align: center !important;
}


#fifth-page {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110vh;
    padding: 4rem 5em;
}
#empty-emoki {
    position: absolute;
    width: 10%;
    left: 10px;
    top: 10px;
    z-index: 1;
    /* background-color: #f8f9fa; */
}
#empty-emoki > img {
    width: 100%;
    height: 100%;
    opacity: 1;
    /* box-shadow: -10px -10px 5px  rgba(199, 168, 10, 0.858); */
    border-radius: 100px;
    
    transform: rotate3d(1, 1, 1, -20deg);
}
#left-quote {
    position: relative;
    top: 40px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    /* justify-content: flex-start; */
    /* align-items: center; */
}
#left-quote > #title > h1 {
    position: relative;
    left: 10px;
    width: 100%;
    height: 10%;
    display: flex;
    font-size: 2rem;
    /* justify-content: center; */
    align-items: center;
}
#left-quote > #content-data {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
#content-data > #data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}
#data > #social-media > i{
    padding: 1rem;
    font-size: 1.8rem;
}
#data > #contact-details{
    margin: 1rem 0;
}
#right-form {
    width: 50%;
    /* height: 0vh; */
    padding: 5rem;
}
#form {
    padding: 2rem;
    background-color: rgb(224 100 50);
    /* margin-bottom: 1rem; */
}
#form > form{
    border: #222 solid 2px ;
    padding: 3rem;

}
#form > form > .mb-3 > label{
    display: block !important;
    position: relative !important;

}

#form > form > .mb-3 > input, textarea{
    position:  static !important;
    opacity: 1 !important;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-bottom: #fff 1.5px solid !important;
    border: none;
    transition: all .3s;
}
#form > form > .mb-3 > input, textarea:active:focus{
    outline: 0 !important;
    border: none !important;
    stroke: none !important;
    border-bottom: #fff 2px solid !important;
}


#right-form > #form > form > button{
    background-color: #222;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all .3s;
}
#right-form > #form > form > button:hover{
    background-color: #222;
    padding: .8rem;

}

#copyright{
    margin-top: 2rem;
    padding: 1rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6 vh;
    background-color: hsl(0deg 8% 12.37%);
    color: #fff;
}
#coptyright > p{
    padding: 2rem 0;
    font-size: 1rem;
    font-weight: 300;
}

@media (max-width: 600px) or (max-width:768px){
    .wow{
        position: fixed;
        background-color: none !important;
        /* color: #ffffff; */
        /* top:  !important; */
        top: 1.2rem !important;
        z-index: 100000;
    }
    .sticky > #leave{
        display: none;
        transition: all 1s;
    }
    
    .sticky{
        display: grid !important;
        grid-template-columns: .2fr 1fr;
        position: fixed !important;
        /* padding: .2ere !important; */
        top: 1.3rem;
        width: 100%;
        background-color: rgb(224 100 50);
        color: #fff;
        /* top: 1.5rem; */
        z-index: 100000;
        transition: all 1s;
    }
    .sticky > #logo{
        position: relative;
        top: -10px;
        /* left: -10px; */
        z-index: 10000;
    }



    #main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #main > #first-page{
        /* display: none !important; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        position: relative;
        height: 95vh;
        width: 100%;
    }
    #first-page > #left{
        position: relative;
        display: flex;
        width: 100%;
        height: 100vh;
        /* background-color: brown; */
    }
    #left > #side{
        display: none !important;
    }
    #left > #road{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* justify-content: center; */
    }
    #road > #hello{
        /* position: relative; */
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0 .5rem;
        /* justify-content: space-evenly; */
    }
    #hello > p{
        font-size: 1.8rem;
        margin-top: -10px;
        margin-left: -8px;
    }
    #hello > i {
        font-size: 1rem;
    }
    #road > #content{
        margin: 0 1.5rem;
    }
    #content > h1{
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 1.8rem;
    }
    #content > h1 > p{
        font-weight: 300;
    }
    #first-page > #right{
        position: relative;
        width: 100%;
        height: 100vh;
        /* background-color: blue; */
    }
    #first-page > #right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #right > #img > img{
        display: flex   ;
        justify-content: center;
        align-items: center;
        user-select: none;
        width: 100%;
    }
    #navbar{
        display: grid !important;
        grid-template-columns: .2fr 1fr;
        /* display: none !important; */
        font-size: .8rem;
        padding: 1rem 1.4rem;
    }
    #navbar > #logo {
        z-index: 10000;
     
    }
    #navbar > #logo >  h1{
        font-size: 1.8rem !important;
        /* margin-top: .5rem; */
        /* z-index: 100000; */
    }
    #second-page{
        /* display: none !important; */
        position: relative;;
        height: 100vh;
        padding: .8rem 0;
        /* background-color: chocolate; */
    }
    #second-page > #about-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about-section > #left-pic{
        padding: 2rem;
        width: 100vw;
        height: 55vh;
        /* background-color: blue; */
    }
    #left-pic > img{
        position: relative;
        left: 15vw;
        /* bottom: 10; */
        margin: 0 0px 10px 0px;
        right: 0;
        width: 60vw;
        height: 50vh;
        -webkit-filter: grayscale(100%);
        filter: grayscale(180%);
    }
    #left-pic > img:hover{
        -webkit-filter: grayscale(50%);
        filter: grayscale(50%);
    
    }
    #about-section > #right-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        width: 100%;
        height: 46vh;
        /* background-color: red; */
    }
    #right-content > h1{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    #right-content > p{
        font-size: .8rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    #third-page{
        /* display: none !important; */
        height: 46vh;
        padding: 1.5rem 0;
        /* background-color: chocolate; */
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: hsl(2deg 7% 13.37%);
    }
    #third-page > #title{
        font-size: 1.5rem;
        font-weight: bolder;
        text-align: center;
    
    }
    #third-page > #skills{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        padding: 1rem 2.5rem;
        height: 30vh;
    }
    #skills > #icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }
    #skills > #icon >img{
        width: 50px;
        height: 50px;
    }
    #skills > #icon > p{
        color: #fff;
        font-size: .8rem;
        font-weight: 500;
        padding: 5px 0;
    }
    #fourth-page{
        /* display: none !important; */
        height: 100vh;
        padding: 2rem 4rem;
        /* background-color: chocolate; */
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-color: hsl(2deg 6% 11.37%);
    }
    #fourth-page > #title{
        text-decoration: underline;
        font-weight: bolder;
        text-align: center;
        color: #fff;
    }
    #title > h1{
        font-size: 2rem;
    }
    #blog-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center; /* This will space out the blog posts evenly */
        align-items: center;
        padding: 10px;
    }
    
    #blog-section  img{
        width: 80vw !important;
        height: 60vh !important;
        object-fit: cover;
    }
    #blog-section > #slider> .carousel-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .carousel-inner > .carousel-item > .carousel-caption{
        display: block !important;
       
    }
    
    .carousel-inner > .carousel-item > .carousel-caption > p{
        /* display: none !important; */
        text-align: center !important;
    }
    #fifth-page {
        /* display: none !important; */
        /* margin-top: 4rem; */
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 130vh;
        padding: 1.5rem .5rem;
        /* background-color: #007bff; */
    }
    #empty-emoki {
        position: absolute;
        width: 100%;
        left: .8rem;
        top: .7rem;
        z-index: 0;
        /* background-color: #f8f9fa; */
    }
    #empty-emoki > img {
        width: 6.25em;
        height: 6.2em;
        opacity: 1;
        /* box-shadow: -10px -10px 5px  rgba(199, 168, 10, 0.858); */
        border-radius: 100px;
        
        transform: rotate3d(1, 1, 1, -20deg);
    }
    #left-quote {
        width: 100vw;
        height: 70vh;
        /* gap: ; */
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        /* background: #000; */
        justify-content: center;
        align-items: center;
        
    }
    #left-quote > #title > h1 {
        position: relative;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    #left-quote > #content-data {
        width: 100%;
        height: 80%;
    }
    #content-data > #data{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 80%;
        /* margin-top: 30px; */
    }
    #data > #social-media > i{
        padding: 1rem;
        font-size: 1.8rem;
    }
    #data > #contact-details{
        margin: 1rem 0;
    }
    #right-form {
        position: relative;
        top: 2.5rem;
        /* left: .5rem; */
        /* bottom: -20px; */
        /* display: none; */
        width: 100%;
        height: 80vh;
        padding: 0rem;
    }
    #form {
        padding: 1.5rem;
        background-color: rgb(224 100 50);
        /* margin-bottom: 1rem; */
    }
    #form > form{
        border: #222 solid 2px ;
        padding: 1rem;
    }
    
    #form > form > .mb-3 > input, textarea{
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border-bottom: #fff 1.5px solid !important;
        border: none;
        transition: all .3s;
    }
    #form > form > .mb-3 > input, textarea:active:focus{
        outline: 0 !important;
        border: none !important;
        stroke: none !important;
        border-bottom: #fff 2px solid !important;
    }
    
    
    #right-form > #form > form > button{
        background-color: #222;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        transition: all .3s;
    }
    #right-form > #form > form > button:hover{
        background-color: #222;
        padding: .8rem;
    
    }
    #copyright{
        /* display:  !important; */
        /* margin-top: 4rem; */
        padding: 1rem 0;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vh;
        background-color: hsl(0deg 8% 12.37%);
        color: #fff;
    }
    #coptyright > p{
        padding: 2rem 0;
        font-size: 1rem;
        font-weight: 300;
    }

}
